# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
.angular/
out-tsc/

# Environment
src/environments/environment.prod.ts

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
